$colors: (
	'nav-item': #000,
	'nav-item-current': #fff,
	'nav-item-disabled': #a3a3a3,
	'nav-item-special': #fff200,
);

//*** Dimentions ***/
$aside-w: 300px;
$content-w: 640px;

//*** Main Navigation ***/
$nav-padding-lr: 16px;

//*** Font Families ***/
$ff_helvetica_reg: "HelveticaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$ff_helvetica_b: "HelveticaBold", "Helvetica Neue", Helvetica, Arial, sans-serif;