block aside
	aside.aside
		.aside__block.block--place
			.place__logo
				a.logo__link(href="#", target="_blank")
					img.logo__img(src="images/vremena-logo.png", title="Галерея Времена года")
			.place__info
				p.info__addr Кутузовский проспект, 48 
				p.info__phone +7 (495) 644 48 48
		block aside__event
		.aside__block.block--address
			p
				| Кутузовский проспект, 48
				br
				| 5&nbsp;этаж, веранда Ресторана и&nbsp;Бара &laquo;Облака&raquo;
