block footer
	footer.footer
		ul.footer__subs 
			li
				sub *
				| Распродажа на крыше
			li
				sub **
				| Предложение ограничено
		p.footer__subs.subs--age 12+
		p.footer__subs.subs--big.subs--right
			| Бесплатная парковка каждому
			br
			| посетителю распродажи!
			sub **