head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title= pageTitle
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	// build:js js/libs/libs.min.js
	// bower:js
	// endbower
	// endbuild	
	link(rel='stylesheet', href='css/styles.css')
	link(rel="apple-touch-icon", sizes="57x57", href="images/favicon/apple-touch-icon-57x57.png")
	link(rel="apple-touch-icon", sizes="60x60", href="images/favicon/apple-touch-icon-60x60.png")
	link(rel="apple-touch-icon", sizes="72x72", href="images/favicon/apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon", sizes="76x76", href="images/favicon/apple-touch-icon-76x76.png")
	link(rel="apple-touch-icon", sizes="114x114", href="images/favicon/apple-touch-icon-114x114.png")
	link(rel="icon", type="image/png", href="images/favicon/favicon-32x32.png", sizes="32x32")
	link(rel="icon", type="image/png", href="images/favicon/favicon-96x96.png", sizes="96x96")
	link(rel="icon", type="image/png", href="images/favicon/favicon-16x16.png", sizes="16x16")
	link(rel="manifest", href="images/favicon/manifest.json")
	link(rel="shortcut icon", href="images/favicon/favicon.ico")
	meta(name="msapplication-TileColor", content="#2b5797")
	meta(name="msapplication-config", content="images/favicon/browserconfig.xml")
	meta(name="theme-color", content="#ffffff")