include ../_config

doctype
html.no-js
	include ../_includes/_head
	body
		div(class=wrapperClass)
			include ../_includes/_main-nav
			main.main
				include ../_includes/_main
				include ../_includes/_aside
			include ../_includes/_footer
		include ../_includes/_scripts
