.wrapper {
	margin: 0 auto;
	padding: 0 30px;
	width: 940px;
}

.content {
	float: left;
	width: $content-w;

	.wrapper--full & {
		float: none;
		overflow: hidden;
		width: 100%;
	}
}

.item--outline {
    margin: -15px 0 0 -75px;
}