block config
	- var pageTitle = ['Времена Года']
	- var wrapperClass = ['wrapper']
	- var mainClass = ['content']
	- var asideClass = ['aside']
	//- Menu variables
	- var index = false
	- var look = false
	- var brands = false
