extends _tmpl/_tmpl

block append main
	p Main
block append aside__event
	.aside__block.block--event
		h2.h2 Вечеринка в&nbsp;честь открытия
		p 
			| Четверг, 20&nbsp;августа 2015&nbsp;г.
			br
			| с&nbsp;19.00 до&nbsp;22.00
		p
			| Коктейль от&nbsp;Ресторана 
			br
			| и&nbsp;Бара &laquo;Облака&raquo;
			br
			| DJ-сет
			br
			| Fashion-анимации