.place__logo {
	margin: 0 0 16px;

	.logo__link {
		display: inline-block;
		width: 160px;
	}

	.logo__img {
		display: inline-block;
		width: 100%;
		vertical-align: bottom;
	}
}

.place__info {
	font-size: 1.3rem;
	line-height: 1.3;

	.info__phone {
		font-size: (19/13) * 1em;
	}
}